# Cleaning NFL Stats

In [58]:
# import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [59]:
# Read the data from the dataset into your pandas dataframe.
data = pd.read_csv('passing_stats_2019.csv')
print (data)

      Rk                 Player   Tm  Age Pos   G  GS   QBrec  Cmp  Att  ...  \
0      1         Jameis Winston  TAM   25  QB  16  16   7-9-0  380  626  ...
1      2           Dak Prescott  DAL   26  QB  16  16   8-8-0  388  596  ...
2      3             Jared Goff  LAR   25  QB  16  16   9-7-0  394  626  ...
3      4          Philip Rivers  LAC   38  QB  16  16  5-11-0  390  591  ...
4      5              Matt Ryan  ATL   34  QB  15  15   7-8-0  408  616  ...
..   ...                    ...  ...  ...  ..  ..  ..     ...  ...  ...  ...
97    98  Christian McCaffrey*+  CAR   23  RB  16  16     NaN    0    2  ...
98    99            Zach Pascal  IND   25  WR  16  13     NaN    0    1  ...
99   100           Bilal Powell  NYJ   31  rb  13   1     NaN    0    1  ...
100  101            Steven Sims  WAS   22  wr  16   2     NaN    0    1  ...
101  102               Sam Koch  BAL   37   p  16   0     NaN    1    1  ...

       QBR  Sk  Yds.1  Sk%  NY/A  ANY/A  4QC  GWD  Player-additional  points
0     55.7  47    282  7.0  7.17   6.15  2.0  2.0           WinsJa00  276.36
1     71.9  23    151  3.7  7.68   7.84  NaN  NaN           PresDa01  294.08
2     50.6  22    170  3.4  6.90   6.46  1.0  2.0           GoffJa00  241.52
3     50.5  34    222  5.4  7.03   6.32  1.0  2.0           RivePh00  236.60
4     59.6  48    316  7.2  6.25   6.08  3.0  2.0           RyanMa00  254.64
..     ...  ..    ...  ...   ...    ...  ...  ...                ...     ...
97     0.2   0      0  0.0  0.00   0.00  NaN  NaN           McCaCh01    0.00
98     0.8   0      0  0.0  0.00   0.00  NaN  NaN           PascZa00    0.00
99     1.9   0      0  0.0  0.00   0.00  NaN  NaN           PoweBi00    0.00
100    NaN   0      0  0.0  0.00   0.00  NaN  NaN           SimsSt00    0.00
101  100.0   0      0  0.0 -2.00  -2.00  NaN  NaN           KochSa20   -0.08

[102 rows x 33 columns]

In [60]:
# Display a preview of the data.
data.head()

,Rk,Player,Tm,Age,Pos,G,GS,QBrec,Cmp,Att,...,QBR,Sk,Yds.1,Sk%,NY/A,ANY/A,4QC,GWD,Player-additional,points
0,1,Jameis Winston,TAM,25,QB,16,16,7-9-0,380,626,...,55.7,47,282,7.0,7.17,6.15,2.0,2.0,WinsJa00,276.36
1,2,Dak Prescott,DAL,26,QB,16,16,8-8-0,388,596,...,71.9,23,151,3.7,7.68,7.84,NaN,NaN,PresDa01,294.08
2,3,Jared Goff,LAR,25,QB,16,16,9-7-0,394,626,...,50.6,22,170,3.4,6.90,6.46,1.0,2.0,GoffJa00,241.52
3,4,Philip Rivers,LAC,38,QB,16,16,5-11-0,390,591,...,50.5,34,222,5.4,7.03,6.32,1.0,2.0,RivePh00,236.60
4,5,Matt Ryan,ATL,34,QB,15,15,7-8-0,408,616,...,59.6,48,316,7.2,6.25,6.08,3.0,2.0,RyanMa00,254.64

In [61]:
# Size of original dataset
print(data.shape)

(102, 33)

In [62]:
# drop function which is used in removing or deleting rows or columns from the CSV files
data.drop('Att', inplace=True, axis=1)

In [63]:
data.head()

,Rk,Player,Tm,Age,Pos,G,GS,QBrec,Cmp,Cmp%,...,QBR,Sk,Yds.1,Sk%,NY/A,ANY/A,4QC,GWD,Player-additional,points
0,1,Jameis Winston,TAM,25,QB,16,16,7-9-0,380,60.7,...,55.7,47,282,7.0,7.17,6.15,2.0,2.0,WinsJa00,276.36
1,2,Dak Prescott,DAL,26,QB,16,16,8-8-0,388,65.1,...,71.9,23,151,3.7,7.68,7.84,NaN,NaN,PresDa01,294.08
2,3,Jared Goff,LAR,25,QB,16,16,9-7-0,394,62.9,...,50.6,22,170,3.4,6.90,6.46,1.0,2.0,GoffJa00,241.52
3,4,Philip Rivers,LAC,38,QB,16,16,5-11-0,390,66.0,...,50.5,34,222,5.4,7.03,6.32,1.0,2.0,RivePh00,236.60
4,5,Matt Ryan,ATL,34,QB,15,15,7-8-0,408,66.2,...,59.6,48,316,7.2,6.25,6.08,3.0,2.0,RyanMa00,254.64

In [64]:
data.drop('Rk', inplace=True, axis=1)

In [65]:
data.drop('Player', inplace=True, axis=1)

In [66]:
data.drop('Tm', inplace=True, axis=1)

In [67]:
data.drop('Sk', inplace=True, axis=1)

In [68]:
data.drop('Sk%', inplace=True, axis=1)

In [69]:
# Cleaned dataset with key points
data.head()

,Age,Pos,G,GS,QBrec,Cmp,Cmp%,Yds,TD,TD%,...,Y/G,Rate,QBR,Yds.1,NY/A,ANY/A,4QC,GWD,Player-additional,points
0,25,QB,16,16,7-9-0,380,60.7,5109,33,5.3,...,319.3,84.3,55.7,282,7.17,6.15,2.0,2.0,WinsJa00,276.36
1,26,QB,16,16,8-8-0,388,65.1,4902,30,5.0,...,306.4,99.7,71.9,151,7.68,7.84,NaN,NaN,PresDa01,294.08
2,25,QB,16,16,9-7-0,394,62.9,4638,22,3.5,...,289.9,86.5,50.6,170,6.90,6.46,1.0,2.0,GoffJa00,241.52
3,38,QB,16,16,5-11-0,390,66.0,4615,23,3.9,...,288.4,88.5,50.5,222,7.03,6.32,1.0,2.0,RivePh00,236.60
4,34,QB,15,15,7-8-0,408,66.2,4466,26,4.2,...,297.7,92.1,59.6,316,6.25,6.08,3.0,2.0,RyanMa00,254.64

In [70]:
print(data.shape)

(102, 27)

In [71]:
# Raplace Nan values with zeros 
data.replace(np.nan, 0, inplace=True)
data.head()

,Age,Pos,G,GS,QBrec,Cmp,Cmp%,Yds,TD,TD%,...,Y/G,Rate,QBR,Yds.1,NY/A,ANY/A,4QC,GWD,Player-additional,points
0,25,QB,16,16,7-9-0,380,60.7,5109,33,5.3,...,319.3,84.3,55.7,282,7.17,6.15,2.0,2.0,WinsJa00,276.36
1,26,QB,16,16,8-8-0,388,65.1,4902,30,5.0,...,306.4,99.7,71.9,151,7.68,7.84,0.0,0.0,PresDa01,294.08
2,25,QB,16,16,9-7-0,394,62.9,4638,22,3.5,...,289.9,86.5,50.6,170,6.90,6.46,1.0,2.0,GoffJa00,241.52
3,38,QB,16,16,5-11-0,390,66.0,4615,23,3.9,...,288.4,88.5,50.5,222,7.03,6.32,1.0,2.0,RivePh00,236.60
4,34,QB,15,15,7-8-0,408,66.2,4466,26,4.2,...,297.7,92.1,59.6,316,6.25,6.08,3.0,2.0,RyanMa00,254.64